<p-dialog 
  header="Tradução" 
  v-model:visible="exibir" 
  :breakpoints="{'960px': '75vw', '640px': '90vw'}"
  :style="{width: '50vw'}" 
  :closable="false"
  :maximizable="true"
  :modal="true"
>
  <form id="formularioNovaTraducao">
    <div class="field mb-3">
      <label for="inputChave">Chave<span class="text-danger">*</span></label>
      <p-inputtext id="inputChave" type="text" v-model="chave" lang="pt" class="w-full"></p-inputtext>
    </div>
    <div class="field mb-3">
      <label for="inputPt" class="form-label">Português</label>
      <p-inputtext type="text" name="pt" class="w-full" id="inputPt" lang="pt" v-model="pt"
        @input="gerarChaveAutomatica" />
    </div>
    <div class="field mb-3">
      <label for="inputEn" class="form-label">Inglês</label>
      <p-inputtext type="text" name="en" class="w-full" id="inputEn" lang="en" v-model="en" />
    </div>
    <div class="field mb-3">
      <label for="inputEs" class="form-label">Espanhol</label>
      <p-inputtext type="text" name="es" class="w-full" id="inputEs" lang="es" v-model="es" />
    </div>
  </form>
  <template #footer>
    <p-button type="button" label="Fechar" icon="pi pi-times" @click="fechar" class="p-button-text">
    </p-button>
    <p-button type="submit" label="Inserir" icon="pi pi-check" @click="salvar" autofocus></p-button>
  </template>
</p-dialog>

<style scoped>
  .p-dialog-header-close {
    display: none;
  }
</style>