<p-datatable 
  :value="itens" 
  :rows-per-page-options="[10,20,50, 100]"
  :rows="10"
  :paginator="true" 
  @cell-edit-complete="aoFinalizarEdicaoCelula"
  context-menu 
  v-model:context-menu-selection="traducaoSelecionada" 
  @row-contextmenu="aoContextualizarMenuLinha"
  class="p-datatable-sm. editable-cells-table w-full"
  edit-mode="cell" 
  current-page-report-template="Exibindo de {first} a {last} de {totalRecords}" 
  v-model:filters="filtros" 
  responsive-layout="scroll" 
  paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
  >
  <template #header>
    <div class="flex justify-content-end">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <p-inputtext v-model="filtros['global'].value" placeholder="Pesquisar"></p-inputtext>
      </span>
    </div>
  </template>
  <p-column v-for="col of colunas" :field="col.field" :header="col.header" :sortable="true" :key="col.field"
    style="width:25%">
    <template #editor="{ data, field }">
      <p-inputtext class="w-full" v-model="data[field]" autofocus></p-inputtext>
    </template>
    <template #empty>
      Nenhuma tradução encontrada.
    </template>
    <template #loading>
      Carregando...
    </template>
  </p-column>
</p-datatable>
<p-contextmenu :model="menuModelo" ref="contextMenu"></p-contextmenu>