<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- PrimeVue Estilos -->
  <link href="https://unpkg.com/primevue@^3/resources/themes/lara-light-indigo/theme.css" rel="stylesheet" />
  <link href="https://unpkg.com/primevue@^3/resources/primevue.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeflex@^3/primeflex.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />

  <link rel="stylesheet" href="./styles.css" />

  <!-- Dependências -->
  <script src="https://unpkg.com/vue@3.2.1/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/vue-router@4.1.6/dist/vue-router.global.js"></script>
  <script src="https://unpkg.com/primevue@^3/core/core.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/tabmenu/tabmenu.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/datatable/datatable.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/contextmenu/contextmenu.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/column/column.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/toast/toast.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/toastservice/toastservice.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/multiselect/multiselect.min.js"></script>
  
  <title>Dev Prothera</title>
</head>

<body class="p-0 m-0">
  <div id="app">
    <p-tabmenu :model="menu"></p-tabmenu>
    <router-view></router-view>
  </div>

  <script type="module" src="./index.js"></script>
</body>

</html>