<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head'); %>
    <title>Prothera</title>
  </head>
  <body>
    <%- include('./components/nav'); %>
    <main class="container-fluid d-flex" style="height: 100vh;">
      <img src="logo.png" alt="" class="m-auto">

    </main>
    <%- include('./components/footer'); %>
  </body>
</html>
