<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head'); %>
    <style>
      svg {
        height: 50px;
        width: 50px;
      }
    </style>
    <title>Prothera</title>
  </head>
  <body>
    <%- include('./components/nav'); %>
    <main class="container-fluid">
      

    </main>
    <%- include('./components/footer'); %>
  </body>
</html>
