<main class="p-5 flex flex-column">
  <div class="mx-auto w-8">
    <span class="p-float-label my-5">
      <p-inputtext id="pesquisa" type="text" v-model="pesquisa" class="w-3"></p-inputtext>
      <label for="pesquisa">Pesquisa</label>
    </span>
  
    <div class="grid card-container" v-if="icones.length">
      <div class="sm:col-6 md:col-4 lg:col-3 mb-3 flex align-items-center" v-for="icone in iconesFiltrados">
        <div v-html="icone.svg"></div>
        <span class="m-4">{{ icone.nomeArquivo }}</span>
      </div>
    </div>
  </div>
</main>