<main class="container-fluid p-5">
  <ModalTraducao @adicionar="adicionarTraducao" />
  <Tabela />

  <div class="my-5"></div>

  <section class="row fixed-bottom mx-5">
    <div class="col-12 bg-white rounded-top p-3">
      <div class="row">
        <div class="col-auto hstack gap-2 mx-auto">
          <button id="btnDesmarcar" class="btn btn-default hstack gap-1" style="display: none">
            <i class="material-icons">indeterminate_check_box</i>
            Desmarcar todos
          </button>
          <button data-bs-toggle="modal" data-bs-target="#modalTraducao" class="btn btn-primary hstack gap-1">
            <i class="material-icons">add</i>
            Adicionar
          </button>
          <button id="btnExcluir" class="btn btn-danger hstack gap-1" style="display: none">
            <i class="material-icons">delete</i>
            Excluir
          </button>
          <button id="btnSalvar" class="btn btn-success hstack gap-1" style="display: none">
            <i class="material-icons">send</i>
            Salvar
          </button>
        </div>
      </div>
    </div>
  </section>
</main>