<main class="m-5">
  <p-toast></p-toast>

  <ModalTraducao 
    v-model:exibir="exibirModalTraducao" 
    @salvar="adicionarTraducao" 
    @fechar="exibirModalTraducao = false" />

  <Tabela 
    :colunas="tabela.colunas" 
    :itens="tabela.itens" 
    @aoEditar="atualizarTraducao" 
    @aoExcluir="excluirTraducao" />

  <div class="my-8"></div>

  <section class="fixed bottom-0 left-0 w-full flex bg-white shadow-4 p-2 border-round-top">
    <div class="mx-auto flex gap-3">
      <p-button type="button" label="Adicionar" icon="pi pi-plus" @click="exibirModalTraducao = true" />
      <p-button type="button" label="Salvar" icon="pi pi-send" :badge="novasTraducoes.length"
        @click="salvarNovasTraducoes" />
    </div>
  </section>
</main>