<main class="container-fluid p-5">
  <ModalTraducao @salvar="salvarTraducao" v-model:traducao="traducao" @fechado="modalTraducaoFechado" />

  <Tabela :cabecalho="tabela.cabecalho" :itens="tabela.itens" @editar="editarTraducao" @excluir="excluirTraducao" />

  <div class="my-5"></div>

  <section class="row fixed-bottom mx-5">
    <div class="col-12 bg-white rounded-top p-3">
      <div class="row">
        <div class="col-auto hstack gap-2 mx-auto">
          <button data-bs-toggle="modal" data-bs-target="#modalTraducao" class="btn btn-primary hstack gap-1">
            <i class="material-icons">add</i>
            Adicionar
          </button>
          <button id="btnSalvar" class="btn btn-success hstack gap-1" v-if="novasTraducoes.length"
            @click="salvarNovasTraducoes">
            <i class="material-icons">send</i>
            Salvar
          </button>
        </div>
      </div>
    </div>
  </section>
</main>